/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Styles              */
/* ------------------- */

body {
    background-color: black;
    color: #a1a1a1;
    font-family: monospace;
}

button {
    border: 1px solid #a1a1a166;
    background-color: transparent;
    padding: .2rem .4rem;
    color: #a1a1a1;
    transition: all 50ms ease-in-out;
    cursor: pointer;
}

button:hover, input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover {
    border-color: white;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

a {
    color: #a1a1a1;
}

a:hover {
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 15rem; */
    margin-block: 1rem;

}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #757575;
    height: 0.5rem;
    border-radius: .2rem;
}

input[type="range"]::-moz-range-track {
    background-color: #757575;
    height: 0.5rem;
    border-radius: .2rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: #FFFFFF;
    height: 2rem;
    width: 1rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: #FFFFFF;
    height: 2rem;
    width: 1rem;
}

input[type="text"], input[type="number"], input[type="password"] {
    background-color: black;
    border: 1px solid #a1a1a166;
    color: #a1a1a1;
    width: 100%;
}